.searchPageStoryRow {
  padding: 0 16px;
  margin-bottom: 10px;

  .searchPageStoryRow__title {
    font-weight: 500;
    font-size: 14px;
    margin: 0;
    margin-bottom: -5px;

    a {
      text-decoration: none;
      color: #828282;
    }

    a:hover {
      text-decoration: underline;
      color: #828282;
    }

    .searchPageStoryRow__titleUrl {
      color: #828282;
      font-size: 13px;
      word-break: break-all;
      font-weight: normal;
      margin: 0;
    }
  }

  .searchPageStoryRow__storyText {
    padding: 8px 0;
    color: #000;
    font-size: 12px;
    width: 100%;
    line-height: normal;
    font-style: normal;
    margin: 0;

    * {
      font-size: 12px;
      font-weight: 400;
    }
  }

  .searchPageStoryRow__comments {
    font-size: 10.6667px;
    color: #828282;
  }
}