.storyRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  margin-bottom: 5px;

  * {
    margin: 0;
  }

  .storyRow__ranking {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 3px;

    p {
      font-size: 10pt;
      color: #828282;
    }
  }

  .storyRow__story {
    span {
      font-size: 7pt;
      color: #828282;
    }

    .storyRow__storyTitle {
      font-size: 10pt;
      margin-bottom: -5px;

      span {
        font-size: 8pt;
        color: #828282;
      }
    }
  }
}